<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/3-card.css" />

    <title>Document</title>
</head>

<body>
    <div class="main">
        <h2 class="page_title">COMMITTEE MEMBERS</h2>

        <ul class="cards">
            <li class="cards_item">
                <div class="card">
                    <div class="card_image">
                        <img src="../static/img/girl1.jpeg" alt="mixed vegetable salad in a mason jar." />
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">Anita Sharma</h2>
                        <div class="card_text">
                            <p>
                                Study: BTech<br /> Year: 3rd <br />Department: Mechanical Engineering <br />
                            </p>
                            <hr />
                            <p>
                                Casting the world, Forging the campus, Shaping the universe, Welding the rest of all branches, Bcoz, We are the Women, We are the machine, and we are Mechanical Engineers
                            </p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image">
                        <img src="../static/img/girl2.jpeg" alt="a Reuben sandwich on wax paper." />
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">Rachel Fernandes</h2>
                        <div class="card_text">
                            <p>
                                Study: BTech<br /> Year: 3rd <br />Department: Computer Engineering <br />
                            </p>
                            <hr />
                            <p>
                                “A good programmer is someone who always looks both ways before crossing a one-way street.”
                            </p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image">
                        <span class="note">Seasonal</span>
                        <img src="../static/img/girl3.jpeg" alt="A side view of a plate of figs and berries." />
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">Aadya Trivedi</h2>
                        <div class="card_text">
                            <p>
                                Study: BTech<br /> Year: 3rd <br />Department: Electronics and Telecommunication Engineering <br />
                            </p>
                            <hr />
                            <p>
                                Nothing can be of great worth or holy which is the work of builders and mechanics</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>
</body>

</html>