<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Mess Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/slick.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/tooplate-simply-amazed.css" type="text/css" />

</head>

<body>
    <div id="outer">
        <header class="header order-last" id="tm-header">
            <nav class="navbar">
                <div class="collapse navbar-collapse single-page-nav">
                    <ul class="navbar-nav">
                        <li class="nav-item">

                            <a class="nav-link" onclick="window.location.href ='/register' "><span class=" icn"><i class="fas fa-2x fa-air-freshener"></i></span>Sign up</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" onclick="window.location.href='/committee'"><span class="icn"><i class="fab fa-2x fa-battle-net"></i></span> Committee</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#section-3"
                  ><span class="icn"><i class="far fa-2x fa-images"></i></span> Feedback</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#section-4"
                  ><span class="icn"><i class="far fa-2x fa-comments"></i></span>Contact</a
                >
              </li>
            </ul>
            
          </div>
        </nav>
      </header>
      <a  href="login">Admin Login</a>
                            <button class="navbar-button collapsed" type="button">
        <span class="menu_icon">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </span>
      </button>

                            <main id="content-box" class="order-first">
                                <div class="banner-section section parallax-window" data-parallax="scroll" data-image-src="../static/img/food.jpg" id="section-1">
                                    <div class="container">
                                        <div class="item">
                                            <div class="bg-white-transparent logo-fa">

                                                <span><i class="fas fa-2x fa-atom icon-color"></i></span> <a href="/admin-login">Admin Login</a>
                                            </div>
                                            <div class="container">
                                                <div class="item">
                                                    <div class="bg-white-transparent logo-fa">
                                                        <span><i class="fas fa-2x fa-atom icon-color"></i></span> <a href="/user-login">User Login</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                            </main>
                            </div>
                            <script src="../static/js/jquery-3.3.1.min.js"></script>
                            <script src="../static/js/bootstrap.bundle.min.js"></script>
                            <script src="../static/js/jquery.singlePageNav.min.js"></script>
                            <script src="../static/js/slick.js"></script>
                            <script src="../static/js/parallax.min.js"></script>
                            <script src="../static/js/templatemo-script.js"></script>
</body>

</html>